@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin&display=swap');

html, body{
    font-size: 18px;
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.welcome{
    background-image: linear-gradient(rgba(0, 0, 0, 0.178), rgba(0, 0, 0, 0.3)), url("../img/image.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: #fff;
}

.welcome-text{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.welcome-of{
    letter-spacing: 1px;
    color:#cecece;
}
.welcome-of i{
    color:#eee;
    letter-spacing: 3px;
}

.welcome-name{
    font-family: 'Kaisei Tokumin', serif;
    letter-spacing: 2px;
    font-size:52px;
    margin-top:15px;
    margin-bottom: 35px;
}

.welcome-date{
    letter-spacing: 5px;
    color:#ccc;
}

/*** Timer ***/
#timer{
    color:#ccc;
    margin-top:50px;
    display: flex;
    justify-content: center;
    
}

#timer .ti{
    margin-right: 85px;
}

#timer p{
    font-size: 14px;
    margin-top:0px;
}

/*** Welcome Button ***/
.welcome-button{
    margin-top: 50px;
    text-align: center;
    color: #aaa;
    letter-spacing: 2px;
    padding:10px 13px;
    background-color: transparent;
   
}

@media only screen and (max-width: 1024px) {
    html, body{
        font-size:14px;
    }
    .welcome-name{
        font-size: 30px;
    }

    #timer .ti{
        margin-right: 30px;
    }
}
